# Git
.git
.gitignore

# Deploy files
deployment/destroy.sh
plan.md
deployment/images/*
simple_method.md

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp 